
<%- include (`../partials/userHtmlTag`); -%>
<body>
  <div
    class="flex h-screen bg-gray-50 dark:bg-gray-900"
    :class="{ 'overflow-hidden': isSideMenuOpen }"
  >

    <%- include (`../partials/userSidebar`); -%>

    <div class="flex flex-col flex-1 w-full">
      <%- include (`../partials/userHeader`); -%>
  
      <main class="h-full overflow-y-auto">
        <div class="container px-6 mx-auto grid">
          <h2
            class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
          >
            Purchase History
          </h2>

        


          <!-- New Table -->
          <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
              <table class="w-full whitespace-no-wrap">
                <thead>
                  <tr
                    class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                  >
                  <th class="px-4 py-3">Item</th>
                    <th class="px-4 py-3">Item Type</th>
                    <th class="px-4 py-3">Amount</th>
                    <th class="px-4 py-3">Payment reference</th>
                    <th class="px-4 py-3">Access pin</th>
                    <th class="px-4 py-3">Status</th>
                    <th class="px-4 py-3">Date</th>
                  </tr>
                </thead>
                <tbody
                  class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                >
                <% if (allPurchase && allPurchase.length > 0) { %>
                  <% allPurchase.forEach(purchase => { %>
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-4 py-3 text-sm"><%= purchase.itemName %></td>
                      <td class="px-4 py-3 font-semibold"><%= purchase.itemType %> </td>
                      <td class="px-4 py-3 text-sm"># <%= purchase.amount %>.00</td>
                      <td class="px-4 py-3 text-sm"> <%= purchase.paymentReference %></td>
                      <td class="px-4 py-3 text-sm">
                        <% if (purchase.pin_number) { %>
                          <%= purchase.pin_number %>
                        <% } else { %>
                          <span class="text-red-500">No Pin</span>
                        <% } %>
                      </td>
                      <td class="px-4 py-3 text-sm">
                        <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                          <%= purchase.paymentStatus %>
                        </span>
                     
                      </td>
           
                      <td class="px-4 py-3 text-sm"><%= new Date(purchase.purchaseDate).toLocaleString('en-US', {
                        weekday: 'short',
                        year: 'numeric',
                        month: 'short',
                        day: 'numeric',
                        hour: '2-digit',
                        minute: '2-digit',
                        second: '2-digit',
                        hour12: false,
                      }) %></td>
                    
                    </tr>
                  <% }); %>
                <% } else { %>
                  <tr>
                    <td colspan="5" class="px-4 py-3 text-center text-gray-500">No purchase found.</td>
                  </tr>
                <% } %>

                </tbody>
              </table>
            </div>
            <div
              class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
            >
              <span class="col-span-2"></span>
              <!-- Pagination -->
              <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                <nav aria-label="Table navigation">
                  <ul class="inline-flex items-center">
                
                    <% for (let i = 1; i <= totalPages; i++) { %>
                      <li>
                        <a href="/admin/purchase-history?page=<%= i %>"
                           class="px-3 py-1 <%= currentPage === i ? 'text-white bg-purple-600' : '' %> rounded-md focus:outline-none focus:shadow-outline-purple">
                          <%= i %>
                        </a>
                      </li>
                    <% } %>
                  </ul>
                </nav>
              </span>
            </div>
          </div>

       
        </div>
      </main>
    </div>

  </div>
</body>
</html>